
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
   
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(249, 248, 250);
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

#img-carrito{
    width: 40px;
    height: 40px;
}

.menu .navbar {
    display: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 100px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgb(250, 248, 250);
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th, td{
    color: rgb(83, 2, 77);
}

.borrar{
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-txt{
    flex-basis: 40%;
    text-align: center;
}

.header-txt h1{
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
    color: rgb(7, 7, 7);
}

.header-txt p{
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-1{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(5, 5, 5);
    color: white;
    border-radius: 10px;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 35px;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    border: #181818 solid;
    width: 100%;
    height: 100%;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(5, 5, 5);
    color: white;
    border-radius: 10px;    
}

.product{
    padding: 50px 0;
    text-align: center;
    margin-top: 10px;
}

.product h2{
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 15px rgb(197, 196, 196);
    border-radius: 5px;
}

.product img{
    width: 200px;
    height: 280px;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p,.precio{
    font-size: 16px;
    color: rgb(177, 6, 6);
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
}

.icon-txt h3{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: black;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 15px;
    color: black;
}

.footer{
    padding: 50px 0;
    background-color: black;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 10px;
}


@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #181818;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    .menu ul li a{
        color: white;
    }
    #menu:checked~.navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }
    .header-txt{
        font-size: 70px;
    }
    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .product{
        padding: 0 30px 30px 30px;
    }
    .product h2{
        margin-bottom: 30px;
    }
    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .product img{
        width: 200px;
        height: 280px;
    }
    .icons{
        padding: 30px;
        flex-direction: column;
    }
    .icon-1{
        margin-bottom: 30px;
    }
    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }
    .blog-1{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}